Repository nettee-space/nettee-blolet-backend, pull requests merged in 2025-08, with the labels that each got.

#110 Blog > WebMVC: 구독 응답 DTO가 Application 계층이 제공하는 `SubscriptionStats` 데이터에 의존하도록 수정
  services/blog/driving/web-mvc/build.gradle.kts
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/dto/BlogCommandDto.java
Labels: type: refactor, review: required, in: blog

#119 Draft > Application, rdb : 드래프트, 블록 수정/삭제
  services/draft/driven/rdb/src/main/java/nettee/draft/draftblock/driven/rdb/DraftBlockCommandAdapter.java
  services/draft/driven/rdb/src/main/java/nettee/draft/draftblock/driven/rdb/persistence/mapper/DraftBlockEntityMapper.java
  services/draft/driven/rdb/src/main/java/nettee/draft/driven/rdb/DraftCommandAdapter.java
  services/draft/driving/web-mvc/src/main/java/nettee/draft/draftblock/driving/web/DraftBlockCommandApi.java
  services/draft/driving/web-mvc/src/main/java/nettee/draft/draftblock/driving/web/dto/DraftBlockCommandDto.java
  services/draft/driving/web-mvc/src/main/java/nettee/draft/draftblock/driving/web/mapper/DraftBlockDtoMapper.java
  services/draft/driving/web-mvc/src/main/java/nettee/draft/driving/web/DraftCommandApi.java
  services/draft/driving/web-mvc/src/main/java/nettee/draft/driving/web/dto/DraftCommandDto.java
  services/draft/driving/web-mvc/src/main/java/nettee/draft/driving/web/mapper/DraftDtoMapper.java
Labels: type: feature, in: article

#122 Blog > Application: 뉴스레터 구독 UseCase, Service 구현
  services/blog/application/src/main/java/nettee/blolet/blog/application/port/BlogSubscriptionCommandRepositoryPort.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/service/BlogSubscriptionCommandService.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/usecase/newsletter/BlogNewsletterSubscriptionUseCase.java
  services/blog/application/src/test/kotlin/nettee/blolet/blog/application/service/BlogSubscriptionCommandServiceTest.kt
Labels: type: feature, in: blog

#121 Draft > Application, rdb : 드래프트 제목 반환
  services/draft/api/readmodel/src/main/java/nettee/draft/readmodel/DraftReadModels.java
  services/draft/application/src/main/java/nettee/draft/application/port/DraftQueryPort.java
  services/draft/application/src/main/java/nettee/draft/application/service/DraftQueryService.java
  services/draft/application/src/main/java/nettee/draft/application/usecase/DraftReadUseCase.java
  services/draft/driven/rdb/src/main/java/nettee/draft/driven/rdb/DraftQueryAdapter.java
  services/draft/driven/rdb/src/main/java/nettee/draft/driven/rdb/persistence/mapper/DraftEntityMapper.java
  services/draft/driving/web-mvc/src/main/java/nettee/draft/driving/web/DraftQueryApi.java
  services/draft/driving/web-mvc/src/main/java/nettee/draft/driving/web/dto/DraftQueryDto.java
Labels: in: article, in: series

#129 Blog > Application: 뉴스레터 구독 취소 (수신 비동의)
  services/blog/application/src/main/java/nettee/blolet/blog/application/service/BlogSubscriptionCommandService.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/usecase/newsletter/BlogNewsletterUnsubscriptionUseCase.java
  services/blog/application/src/test/kotlin/nettee/blolet/blog/application/service/BlogSubscriptionCommandServiceTest.kt
Labels: type: feature, in: blog

#130 Blog > RDB: 블로그 엔티티
  services/blog/blog.settings.gradle.kts
  services/blog/driven/rdb/build.gradle.kts
  services/blog/driven/rdb/src/main/java/nettee/blolet/blog/rdb/entity/BlogEntity.java
Labels: type: feature, in: blog

#131 Blog > RDB: 블로그 레포지터리 어댑터 및 매퍼
  services/blog/application/src/main/java/nettee/blolet/blog/application/port/BlogCommandRepositoryPort.java
  services/blog/driven/rdb/build.gradle.kts
  services/blog/driven/rdb/src/main/java/nettee/blolet/blog/rdb/RdbBlogCommandRepositoryAdapter.java
  services/blog/driven/rdb/src/main/java/nettee/blolet/blog/rdb/RdbBlogSubscriptionCommandRepositoryAdapter.java
  services/blog/driven/rdb/src/main/java/nettee/blolet/blog/rdb/mapper/BlogEntityMapper.java
  services/blog/driven/rdb/src/main/java/nettee/blolet/blog/rdb/repository/BlogCommandJpaRepository.java
Labels: type: feature, in: blog

#137 Auth > Application: 이메일 인증
  .gitignore
  monolith/main-runner/src/main/resources/application.yml
  monolith/main-runner/src/main/resources/properties/mail/mail.mail.yml
  services/auth/api/exception/src/main/java/nettee/auth/exception/AuthErrorCode.java
  services/auth/application/build.gradle.kts
  services/auth/application/src/main/java/nettee/auth/port/AuthRedisPort.java
  services/auth/application/src/main/java/nettee/auth/port/MailSender.java
  services/auth/application/src/main/java/nettee/auth/service/AuthCommandService.java
  services/auth/application/src/main/java/nettee/auth/service/EmailService.java
  services/auth/application/src/main/java/nettee/auth/usecase/AuthSignUsecase.java
Labels: type: feature, in: auth

#151 Article: 아티클 삭제 API 구현
  services/article/application/src/main/java/nettee/article/port/ArticleCommandPort.java
  services/article/application/src/main/java/nettee/article/port/ArticleCommandRepositoryPort.java
  services/article/application/src/main/java/nettee/article/service/ArticleCommandService.java
  services/article/application/src/main/java/nettee/article/usecase/ArticleDeleteUseCase.java
  services/article/driven/rdb/src/main/java/nettee/article/driven/rdb/entity/ArticleEntity.java
  services/article/driven/rdb/src/main/java/nettee/article/driven/rdb/persistence/ArticleCommandAdapter.java
  services/article/driving/web-mvc/src/main/java/nettee/article/driving/web/ArticleCommandApi.java
  services/article/driving/web-mvc/src/main/java/nettee/article/driving/web/ArticleDtoMapper.java
  services/article/driving/web-mvc/src/main/java/nettee/article/driving/web/dto/ArticleCommandDto.java
Labels: type: feature, in: article

#159 Blog > WebMVC: 블로그 수정, 삭제 API 엔드포인트 추가
  services/blog/application/src/main/java/nettee/blolet/blog/application/service/BlogCommandService.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/usecase/BlogUpdateUseCase.java
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/BlogCommandApi.java
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/dto/BlogCommandDto.java
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/mapper/BlogDtoMapper.java
Labels: type: feature, review: required, in: blog

#171 Auth > Redis 모듈 구현
  gradle.properties
  services/auth/application/src/main/java/nettee/auth/port/AuthRedisPort.java
  services/auth/application/src/main/java/nettee/auth/service/AuthCommandService.java
  services/auth/auth.settings.gradle.kts
  services/auth/build.gradle.kts
  services/auth/driven/redis/build.gradle.kts
  services/auth/driven/redis/src/main/java/nettee/auth/redis/adapter/AuthRedisAdapter.java
Labels: type: feature, in: auth

#168 Blog: 블로그 소유권 확인
  services/blog/application/src/main/java/nettee/blolet/blog/application/port/BlogQueryRepositoryPort.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/service/BlogQueryService.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/usecase/BlogOwnershipVerifyUseCase.java
  services/blog/driven/rdb/src/main/java/nettee/blolet/blog/rdb/RdbBlogQueryRepositoryAdapter.java
  services/blog/driven/rdb/src/main/java/nettee/blolet/blog/rdb/repository/BlogQueryJpaRepository.java
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/BlogCommandApi.java
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/BlogQueryApi.java
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/dto/BlogQueryDto.java
Labels: type: feature, in: blog

#206 Blog > WebMVC: 지원하지 않는 API 체크 (리뷰 없이 병합)
  services/blog/api/exception/src/main/java/nettee/blolet/blog/exception/BlogErrorCode.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/usecase/BlogReadUseCase.java
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/BlogCommandApi.java
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/BlogQueryApi.java
Labels: type: feature, in: blog

#213 Blog: 초기 기획 반영, 단건 조회, 블로그 Validator 등
  services/blog/api/domain/src/main/java/nettee/blolet/blog/domain/Blog.java
  services/blog/api/exception/src/main/java/nettee/blolet/blog/exception/BlogErrorCode.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/port/BlogCommandRepositoryPort.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/port/BlogQueryRepositoryPort.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/service/BlogCommandService.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/service/BlogQueryService.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/usecase/BlogReadUseCase.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/validation/BlogValidator.java
  services/blog/application/src/test/kotlin/nettee/blolet/blog/application/service/BlogCommandServiceTest.kt
  services/blog/driven/rdb/src/main/java/nettee/blolet/blog/rdb/RdbBlogCommandRepositoryAdapter.java
  services/blog/driven/rdb/src/main/java/nettee/blolet/blog/rdb/RdbBlogQueryRepositoryAdapter.java
  services/blog/driven/rdb/src/main/java/nettee/blolet/blog/rdb/entity/BlogEntity.java
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/BlogCommandApi.java
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/BlogQueryApi.java
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/dto/BlogCommandDto.java
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/dto/BlogQueryDto.java
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/mapper/BlogDtoMapper.java
  services/draft/driving/web-mvc/src/main/java/nettee/draft/driving/web/dto/DraftCommandDto.java
Labels: type: feature, 🔥 ASAP, in: blog

#215 Monolith: JSON Response에서 Null 필드는 직렬화하지 않습니다.
  monolith/main-runner/src/main/resources/application.yml
Labels: type: feature, 🔥 ASAP

#200 Auth > Web: 회원가입, 로그인, 이메일 인증
  core/security/password/build.gradle.kts
  monolith/main-runner/src/main/resources/application.yml
  monolith/main-runner/src/main/resources/db/migration/v1/V1_0_1__create_tb_user.sql
  monolith/main-runner/src/main/resources/properties/jwt/main.jwt.yml
  monolith/main-runner/src/main/resources/properties/web/main.cookie.local.yml
  monolith/main-runner/src/main/resources/properties/web/main.cookie.yml
  services/auth/api/domain/src/main/java/nettee/auth/domain/User.java
  services/auth/api/exception/src/main/java/nettee/auth/exception/AuthErrorCode.java
  services/auth/api/readmodel/src/main/java/nettee/blolet/auth/readmodel/AuthCommandModels.java
  services/auth/application/src/main/java/nettee/auth/service/AuthCommandService.java
  services/auth/driving/web-mvc/build.gradle.kts
  services/auth/driving/web-mvc/src/main/java/nettee/auth/config/RefreshTokenConfig.java
  services/auth/driving/web-mvc/src/main/java/nettee/auth/util/CookieUtil.java
  services/auth/driving/web-mvc/src/main/java/nettee/auth/web/AuthCommandApi.java
  services/auth/driving/web-mvc/src/main/java/nettee/auth/web/UserQueryApi.java
  services/auth/driving/web-mvc/src/main/java/nettee/auth/web/dto/AuthCommandDto.java
  services/auth/driving/web-mvc/src/main/java/nettee/auth/web/mapper/AuthDtoMapper.java
Labels: type: feature, 🔥 ASAP, in: auth

#223 Draft > RDB: Base 엔티티를 상속받는 모든 엔티티가 상위 클래스에 필드를 전달합니다.
  services/draft/driven/rdb/src/main/java/nettee/draft/draftblock/driven/rdb/entity/DraftBlockEntity.java
  services/draft/driven/rdb/src/main/java/nettee/draft/driven/rdb/entity/DraftEntity.java
Labels: type: bug, in: article

#225 Series > RDB: 수퍼빌더 추가 및 `SnowflakeBaseTimeEntity`를 상속
  services/series/driven/rdb/src/main/java/nettee/series/article/driven/rdb/entity/SeriesArticleEntity.java
  services/series/driven/rdb/src/main/java/nettee/series/driven/rdb/entity/SeriesEntity.java
Labels: type: bug, in: series

#228 Auth > RDB: Base 엔티티를 상속받는 모든 엔티티가 상위 클래스에 필드를 전달합니다.
  services/auth/driven/rdb/src/main/java/nettee/auth/rdb/entity/UserEntity.java
Labels: type: bug, in: auth

#254 Common > Preconditions: 숫자 타입 입력값이 올바른 범위에 있는지 검토합니다. (상하한 바운더리)
  common/src/main/java/nettee/common/validation/Preconditions.java
  common/src/main/java/nettee/common/validation/README.md
Labels: type: docs, type: feature, in: common

#256 Blog > Application: `BlogValidator`에서 타깃 열거상수에 "BLOG_" 접두사를 추가하고, 정적 임포트로 가독성 개선
  services/blog/api/exception/src/main/java/nettee/blolet/blog/exception/BlogErrorCode.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/validation/BlogValidator.java
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/dto/BlogCommandDto.java
Labels: type: refactor, in: blog

#239 Core > Security: 블로렛 JWT 인가 필터 구현
  core/core.settings.gradle.kts
  core/security/jwt/blolet-jwt-filter/README.md
  core/security/jwt/blolet-jwt-filter/build.gradle.kts
  core/security/jwt/blolet-jwt-filter/src/main/java/nettee/jwt/annotation/AuthUser.java
  core/security/jwt/blolet-jwt-filter/src/main/java/nettee/jwt/annotation/AuthorizedUser.java
  core/security/jwt/blolet-jwt-filter/src/main/java/nettee/jwt/filter/JwtAuthorizationFilter.java
  core/security/jwt/blolet-jwt-filter/src/main/java/nettee/jwt/filter/JwtFilterConfig.java
  core/security/jwt/blolet-jwt-filter/src/main/java/nettee/jwt/resolver/AuthUserArgumentResolver.java
  core/security/jwt/jwt-issuer/src/main/java/nettee/jwt/issuer/JwtIssuer.java
  core/security/jwt/jwt-issuer/src/main/java/nettee/jwt/issuer/JwtIssuerConfig.java
  core/security/jwt/jwt-issuer/src/test/kotlin/nettee/jwt/JwtIssuerTest.kt
  core/security/jwt/jwt-parser/src/main/java/nettee/jwt/parser/JwtParser.java
  core/security/jwt/jwt-parser/src/main/java/nettee/jwt/parser/JwtParserConfig.java
  core/security/jwt/jwt-parser/src/test/kotlin/nettee/jwt/JwtParserTest.kt
  monolith/main-runner/build.gradle.kts
  monolith/main-runner/src/main/java/nettee/main/config/WebConfig.java
  monolith/main-runner/src/main/resources/application.yml
  monolith/main-runner/src/main/resources/properties/jwt/blolet.jwt.filter.yml
  monolith/main-runner/src/main/resources/properties/jwt/main.jwt-local.yml
  services/auth/application/src/main/java/nettee/auth/service/AuthCommandService.java
Labels: type: feature, in: auth

#257 Blog > WebMVC: API 엔드포인트가 이제 인가 필터로부터 정제된 회원 정보를 제공받습니다.
  services/blog/application/src/main/java/nettee/blolet/blog/application/service/BlogCommandService.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/usecase/BlogUpdateUseCase.java
  services/blog/application/src/test/kotlin/nettee/blolet/blog/application/service/BlogCommandServiceTest.kt
  services/blog/driving/web-mvc/build.gradle.kts
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/BlogCommandApi.java
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/admin/BlogAdminCommandApi.java
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/admin/dto/BlogAdminCommandDto.java
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/admin/mapper/BlogAdminDtoMapper.java
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/mapper/BlogDtoMapper.java
Labels: type: feature, in: blog

#278 Auth: JWT 필터에 의해 로그인 요청이 막히고 있습니다. (원인: 오타)
  core/security/jwt/blolet-jwt-filter/src/main/java/nettee/jwt/filter/JwtFilterConfig.java
  services/auth/driving/web-mvc/src/main/java/nettee/auth/web/AuthCommandApi.java
Labels: type: bug, in: auth

#280 Auth: 로그인 시 status 컬럼을 자바 객체 필드로 매핑할 때 오류가 발생합니다.
  monolith/main-runner/src/main/resources/db/migration/v1/V1_0_1__create_tb_user.sql
Labels: type: bug, in: auth

#268 Draft > WebMVC: API 엔드포인트가 인가 필터로부터 회원 정보를 제공받습니다.
  services/draft/api/domain/src/main/java/nettee/draft/domain/Draft.java
  services/draft/api/domain/src/main/java/nettee/draft/draftblock/domain/DraftBlock.java
  services/draft/api/exception/src/main/java/nettee/draft/exception/DraftErrorCode.java
  services/draft/application/src/main/java/nettee/draft/application/service/DraftCommandService.java
  services/draft/application/src/main/java/nettee/draft/application/usecase/DraftCreateUseCase.java
  services/draft/application/src/main/java/nettee/draft/application/usecase/DraftDeleteUseCase.java
  services/draft/application/src/main/java/nettee/draft/application/usecase/DraftUpdateUseCase.java
  services/draft/application/src/main/java/nettee/draft/draftblock/application/service/DraftBlockCommandService.java
  services/draft/application/src/main/java/nettee/draft/draftblock/application/usecase/DraftBlockCreateUseCase.java
  services/draft/application/src/main/java/nettee/draft/draftblock/application/usecase/DraftBlockDeleteUseCase.java
  services/draft/application/src/main/java/nettee/draft/draftblock/application/usecase/DraftBlockUpdateUseCase.java
  services/draft/driving/web-mvc/build.gradle.kts
  services/draft/driving/web-mvc/src/main/java/nettee/draft/draftblock/driving/web/DraftBlockCommandApi.java
  services/draft/driving/web-mvc/src/main/java/nettee/draft/draftblock/driving/web/mapper/DraftBlockDtoMapper.java
  services/draft/driving/web-mvc/src/main/java/nettee/draft/driving/web/DraftCommandApi.java
  services/draft/driving/web-mvc/src/main/java/nettee/draft/driving/web/dto/DraftCommandDto.java
  services/draft/driving/web-mvc/src/main/java/nettee/draft/driving/web/mapper/DraftDtoMapper.java
Labels: type: feature, in: article

#267 Blog > Client: Export용 Blog Client 모듈을 개발합니다. (초기 기능: 블로그 오너십 확인)
  gradle.properties
  monolith/main-runner/build.gradle.kts
  monolith/main-runner/src/main/resources/properties/client/main.client.yml
  services/blog/blog.settings.gradle.kts
  services/blog/export/README.md
  services/blog/export/client-api/build.gradle.kts
  services/blog/export/client-api/src/main/java/nettee/blolet/blog/export/client/api/BlogClient.java
  services/blog/export/client-api/src/main/java/nettee/blolet/blog/export/client/api/BlogClientDto.java
  services/blog/export/client-webmvc/build.gradle.kts
  services/blog/export/client-webmvc/src/main/java/nettee/blolet/blog/export/client/webmvc/BlogInternalClientConfig.java
  services/blog/export/client-webmvc/src/main/java/nettee/blolet/blog/export/client/webmvc/RestBlogClient.java
Labels: type: feature, review: required, 🔥 ASAP, in: blog

#288 Blog > Client, API: 블로그 생성 요청 메서드를 추가합니다. 또한 `BlogValidator`를 API 모듈로 옮깁니다.
  services/blog/api/src/main/java/nettee/blolet/blog/api/validation/BlogValidator.java
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/admin/BlogAdminCommandApi.java
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/admin/dto/BlogAdminCommandDto.java
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/admin/mapper/BlogAdminDtoMapper.java
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/dto/BlogCommandDto.java
  services/blog/export/README.md
  services/blog/export/client-api/src/main/java/nettee/blolet/blog/export/client/api/BlogClient.java
  services/blog/export/client-api/src/main/java/nettee/blolet/blog/export/client/api/BlogClientDto.java
  services/blog/export/client-webmvc/src/main/java/nettee/blolet/blog/export/client/webmvc/RestBlogClient.java
Labels: type: feature, in: blog

#294 Auth: 로그아웃, 회원탈퇴
  services/auth/application/src/main/java/nettee/auth/port/AuthCommandRepositoryPort.java
  services/auth/application/src/main/java/nettee/auth/port/AuthRedisPort.java
  services/auth/application/src/main/java/nettee/auth/service/AuthCommandService.java
  services/auth/application/src/main/java/nettee/auth/usecase/AuthSignUsecase.java
  services/auth/driven/rdb/src/main/java/nettee/auth/rdb/adapter/AuthCommandRepositoryAdapter.java
  services/auth/driven/redis/src/main/java/nettee/auth/redis/adapter/AuthRedisAdapter.java
  services/auth/driving/web-mvc/build.gradle.kts
  services/auth/driving/web-mvc/src/main/java/nettee/auth/util/CookieUtil.java
  services/auth/driving/web-mvc/src/main/java/nettee/auth/web/AuthCommandApi.java
Labels: type: feature, in: auth

#290 Core > Upload: 로컬에 이미지 저장을 하는 코어 (서비스 종속적 코어)를 추가합니다.
  common/src/main/java/nettee/common/image/ImageErrorCode.java
  common/src/main/java/nettee/common/image/ImageException.java
  common/src/main/java/nettee/common/image/ImageFormatDetector.java
  core/core.settings.gradle.kts
  core/upload/upload-image-api/build.gradle.kts
  core/upload/upload-image-api/src/main/java/nettee/upload/port/ImageStorage.java
  core/upload/upload-image-api/src/main/java/nettee/upload/properties/ImageUploadProperties.java
  core/upload/upload-image-local/build.gradle.kts
  core/upload/upload-image-local/src/main/java/nettee/adapter/LocalImageStorage.java
  monolith/main-runner/build.gradle.kts
  monolith/main-runner/src/main/resources/application.yml
  monolith/main-runner/src/main/resources/properties/upload/main.image-local.yml
  monolith/main-runner/src/main/resources/properties/upload/main.image.yml
  monolith/main-runner/src/main/resources/properties/web/main.cookie-local.yml
Labels: type: feature, in: common

#310 Core > Security: 인가 필터가 HTTP 메서드를 구분합니다.
  core/security/jwt/blolet-jwt-filter/src/main/java/nettee/blolet/jwt/filter/JwtAuthorizationFilter.java
  core/security/jwt/blolet-jwt-filter/src/main/java/nettee/blolet/jwt/filter/JwtFilterParserConfig.java
  core/security/jwt/blolet-jwt-filter/src/main/java/nettee/blolet/jwt/filter/MethodPathPatternParser.java
  core/security/jwt/blolet-jwt-filter/src/main/java/nettee/blolet/jwt/filter/RAEDME.md
  core/security/jwt/blolet-jwt-filter/src/main/java/nettee/blolet/jwt/filter/annotation/AuthUser.java
  core/security/jwt/blolet-jwt-filter/src/main/java/nettee/blolet/jwt/filter/annotation/AuthorizedUser.java
  core/security/jwt/blolet-jwt-filter/src/main/java/nettee/blolet/jwt/filter/exception/PathFilterErrorCode.java
  core/security/jwt/blolet-jwt-filter/src/main/java/nettee/blolet/jwt/filter/exception/PathFilterException.java
  core/security/jwt/blolet-jwt-filter/src/main/java/nettee/blolet/jwt/filter/properties/AuthorizationFilterProperties.java
  core/security/jwt/blolet-jwt-filter/src/main/java/nettee/blolet/jwt/filter/resolver/AuthUserArgumentResolver.java
  core/security/jwt/blolet-jwt-filter/src/main/java/nettee/jwt/filter/JwtFilterConfig.java
  monolith/main-runner/src/main/java/nettee/main/config/WebConfig.java
  monolith/main-runner/src/main/resources/properties/jwt/blolet.jwt.filter.yml
  services/auth/driving/web-mvc/src/main/java/nettee/auth/web/AuthCommandApi.java
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/BlogCommandApi.java
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/admin/BlogAdminCommandApi.java
  services/draft/driving/web-mvc/src/main/java/nettee/draft/draftblock/driving/web/DraftBlockCommandApi.java
  services/draft/driving/web-mvc/src/main/java/nettee/draft/driving/web/DraftCommandApi.java
Labels: type: feature, in: common

#324 Common: Preconditions의 크기 관련 유효성 함수는 null, Empty 값을 항상 통과시켜야 합니다.
  common/src/main/java/nettee/common/validation/Preconditions.java
Labels: type: bug, in: common

#339 Draft > API: Draft 부가정보의 유효성 정책을 제공합니다.
  common/src/main/java/nettee/common/validation/model/ValidationMapBuilder.java
  common/src/main/java/nettee/common/validation/model/ValidationResponseModel.java
  services/draft/api/src/main/java/nettee/blolet/draft/api/validation/StaticDraftValidationSupplier.java
  services/draft/api/src/main/java/nettee/blolet/draft/api/validation/context/DraftContextValidationSupplier.java
  services/draft/api/src/main/java/nettee/blolet/draft/api/validation/context/DraftCreateValidationSupplier.java
  services/draft/api/src/main/java/nettee/blolet/draft/api/validation/context/DraftPatchValidationSupplier.java
Labels: type: feature, in: article

#340 Common > Validation: 문자열 정규 표현식 응답 구조를 추가합니다.
  common/src/main/java/nettee/common/validation/model/RegExpFlagBuilder.java
  common/src/main/java/nettee/common/validation/model/StringValidationProperty.java
  common/src/main/java/nettee/common/validation/model/interfaces/RegexpSpec.java
  common/src/main/java/nettee/common/validation/model/interfaces/ValidationPreparationErrorCode.java
  common/src/main/java/nettee/common/validation/model/interfaces/ValidationPreparationException.java
Labels: type: feature, in: article

#349 Draft > API: Draft Image 도메인 클래스를 추가합니다.
  services/draft/api/domain/src/main/java/nettee/draft/domain/DraftImage.java
Labels: type: feature, in: draft

#347 Draft > API: Draft URL 경로에 정규표현식 유효성 정책을 적용합니다.
  services/draft/api/src/main/java/nettee/blolet/draft/api/validation/StaticDraftValidationSupplier.java
Labels: type: feature, in: article

#346 Auth: 토큰 리프레시
  core/security/jwt/blolet-jwt-filter/src/main/java/nettee/blolet/jwt/filter/JwtAuthorizationFilter.java
  monolith/main-runner/src/main/resources/properties/jwt/blolet.jwt.filter.yml
  services/auth/api/exception/src/main/java/nettee/auth/exception/AuthErrorCode.java
  services/auth/application/src/main/java/nettee/auth/port/AuthRedisPort.java
  services/auth/application/src/main/java/nettee/auth/service/AuthCommandService.java
  services/auth/application/src/main/java/nettee/auth/usecase/AuthSignUsecase.java
  services/auth/driven/redis/src/main/java/nettee/auth/redis/adapter/AuthRedisAdapter.java
  services/auth/driving/web-mvc/src/main/java/nettee/auth/web/AuthCommandApi.java
Labels: type: feature, in: auth, in: core

#355 Monolith: 유효성 모델 요청 시 인증을 요구하지 않도록 합니다.
  monolith/main-runner/src/main/resources/properties/jwt/blolet.jwt.filter.yml
  services/draft/api/src/main/java/nettee/blolet/draft/api/validation/StaticDraftValidationSupplier.java
Labels: type: feature, in: article, in: common

#364 Monolith > Flyway: Draft Image 테이블 추가
  monolith/main-runner/src/main/resources/db/migration/v1/V1_0_34__create_tb_draft_image.sql
Labels: type: feature, in: draft

#366 Feature/flyway
  monolith/main-runner/src/main/resources/db/migration/dummy/README.md
  monolith/main-runner/src/main/resources/db/migration/dummy/R__init_dummies.sql
Labels: type: task, in: article, in: common

#374 Draft > WebMVC: 본문 이미지를 서버에 저장합니다.
  monolith/main-runner/src/main/resources/properties/upload/main.image-local.yml
  monolith/main-runner/src/main/resources/properties/upload/main.image.yml
  services/draft/application/src/main/java/nettee/draft/application/service/DraftCommandService.java
  services/draft/application/src/main/java/nettee/draft/application/usecase/DraftImageCreateUseCase.java
  services/draft/driven/rdb/src/main/java/nettee/draft/driven/rdb/entity/DraftImageEntity.java
  services/draft/driving/web-mvc/src/main/java/nettee/draft/driving/web/DraftCommandApi.java
  services/draft/driving/web-mvc/src/main/java/nettee/draft/driving/web/dto/DraftCommandDto.java
  services/draft/driving/web-mvc/src/main/java/nettee/draft/driving/web/mapper/DraftDtoMapper.java
Labels: type: feature, in: draft

#373 Series > WebMVC: 시리즈 생성·수정 DTO에서 목록의 Swagger 스펙을 명확히 `@ArraySchema`로 표현합니다.
  .gitignore
  services/series/driving/web-mvc/src/main/java/nettee/series/driving/web/dto/SeriesCommandDto.java
Labels: type: docs, in: series
