Repository nettee-space/nettee-blolet-backend, pull requests merged in 2025-09, with the labels that each got.

#406 Monolith > Flyway: Article 테이블에 draft_id 컬럼을 추가합니다. 또한 더미데이터에 반영합니다.
  monolith/main-runner/src/main/resources/db/migration/dummy/R__init_dummies.sql
  monolith/main-runner/src/main/resources/db/migration/v1/V1_0_11__create_tb_article.sql
Labels: type: feature, in: article, in: common

#412 Blog: 사용자가 소유한 블로그 집합(Set)을 반환하는 내부 통신 엔드포인트를 만들고, 클라이언트가 이를 이용합니다.
  services/blog/application/src/main/java/nettee/blolet/blog/application/port/BlogQueryRepositoryPort.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/service/BlogQueryService.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/usecase/BlogReadUseCase.java
  services/blog/driven/rdb/src/main/java/nettee/blolet/blog/rdb/RdbBlogQueryRepositoryAdapter.java
  services/blog/driven/rdb/src/main/java/nettee/blolet/blog/rdb/repository/BlogQueryJpaRepository.java
  services/blog/driven/rdb/src/main/java/nettee/blolet/blog/rdb/repository/projection/BlogQueryProjection.java
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/admin/BlogInternalQueryApi.java
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/admin/dto/BlogInternalQueryDto.java
  services/blog/export/client-api/src/main/java/nettee/blolet/blog/export/client/api/BlogClient.java
  services/blog/export/client-api/src/main/java/nettee/blolet/blog/export/client/api/BlogClientDto.java
  services/blog/export/client-webmvc/src/main/java/nettee/blolet/blog/export/client/webmvc/RestBlogClient.java
Labels: type: feature, in: blog

#416 Series: 시리즈 상세 조회(단건 조회) 시 소유자 여부에 따라 동작을 구분합니다.
  services/series/application/build.gradle.kts
  services/series/application/src/main/java/nettee/series/application/port/SeriesQueryRepositoryPort.java
  services/series/application/src/main/java/nettee/series/application/services/SeriesQueryService.java
  services/series/application/src/main/java/nettee/series/application/usecase/SeriesReadUseCase.java
  services/series/application/src/main/java/nettee/series/application/usecase/SeriesVisitUseCase.java
  services/series/driven/rdb/src/main/java/nettee/series/driven/rdb/persistence/SeriesQueryAdapter.java
  services/series/driven/rdb/src/test/kotlin/nettee/series/driven/rdb/persistence/SeriesQueryAdapterTest.kt
  services/series/driving/web-mvc/build.gradle.kts
  services/series/driving/web-mvc/src/main/java/nettee/series/driving/web/SeriesQueryApi.java
Labels: type: feature, 🔥 ASAP, in: series

#428 Common: OS에 따른 스크립트 파일 인코딩(BOM 포함) 및 개행문자(EOL) 변조를 해소합니다.(윈도우용 스크립트 위주)
  .editorconfig
  .gitattributes
Labels: type: task, in: common

#429 Common: `./local-compose` 스크립트가 호스트의 JDK를 요구하지 않도록 수정합니다.
  Dockerfile
  local-compose
  local-compose.ps1
Labels: type: task, in: common

#430 Auth: 로그인 시 loginId 대신 email을 사용해야 합니다.
  monolith/main-runner/src/main/resources/db/migration/dummy/R__init_dummies.sql
  monolith/main-runner/src/main/resources/db/migration/v1/V1_0_1__create_tb_user.sql
  services/auth/api/domain/src/main/java/nettee/auth/domain/User.java
  services/auth/api/exception/src/main/java/nettee/auth/exception/AuthErrorCode.java
  services/auth/api/readmodel/src/main/java/nettee/blolet/auth/readmodel/AuthCommandModels.java
  services/auth/application/src/main/java/nettee/auth/port/AuthCommandRepositoryPort.java
  services/auth/application/src/main/java/nettee/auth/port/AuthQueryRepositoryPort.java
  services/auth/application/src/main/java/nettee/auth/service/AuthCommandService.java
  services/auth/application/src/main/java/nettee/auth/usecase/AuthSignUsecase.java
  services/auth/driven/rdb/src/main/java/nettee/auth/rdb/adapter/AuthCommandRepositoryAdapter.java
  services/auth/driven/rdb/src/main/java/nettee/auth/rdb/adapter/AuthQueryRepositoryAdapter.java
  services/auth/driven/rdb/src/main/java/nettee/auth/rdb/entity/UserEntity.java
  services/auth/driven/rdb/src/main/java/nettee/auth/rdb/repository/AuthJpaRepository.java
  services/auth/driving/web-mvc/src/main/java/nettee/auth/web/AuthCommandApi.java
  services/auth/driving/web-mvc/src/main/java/nettee/auth/web/dto/AuthCommandDto.java
Labels: type: refactor, in: auth

#439 Monolith > Flyway: 이미지 사용 테이블, 해시태그 테이블을 추가하고, Draft 테이블에 대표 이미지, 예약 배포일 컬럼을 추가합니다.
  monolith/main-runner/src/main/resources/db/migration/v1/V1_0_12__create_tb_draft.sql
  monolith/main-runner/src/main/resources/db/migration/v1/V1_0_15__create_tb_hashtag.sql
  monolith/main-runner/src/main/resources/db/migration/v1/V1_0_16__create_tb_article_hashtag.sql
  monolith/main-runner/src/main/resources/db/migration/v1/V1_0_34__create_tb_draft_image.sql
  monolith/main-runner/src/main/resources/db/migration/v1/V1_0_34__create_tb_image_usage.sql
Labels: type: feature, 🔥 ASAP, in: draft
