Repository nettee-space/nettee-blolet-backend, pull requests merged in 2025-07, with the labels that each got.

#16 ☀️ Series> API Docs: Series기본 CRUD API 문서 제공
  gradle.properties
  monolith/main-runner/build.gradle.kts
  services/READMD.md
  services/series/api/build.gradle.kts
  services/series/api/domain/src/main/java/nettee/series/article/domain/SeriesArticle.java
  services/series/api/domain/src/main/java/nettee/series/domain/Series.java
  services/series/api/exception/src/main/java/nettee/series/article/exception/SeriesArticleErrorCode.java
  services/series/api/exception/src/main/java/nettee/series/article/exception/SeriesArticleException.java
  services/series/api/exception/src/main/java/nettee/series/exception/SeriesErrorCode.java
  services/series/api/exception/src/main/java/nettee/series/exception/SeriesException.java
  services/series/api/readmodel/src/main/java/nettee/series/article/readmodel/SeriesArticleQueryModels.java
  services/series/api/readmodel/src/main/java/nettee/series/readmodel/SeriesQueryModels.java
  services/series/build.gradle.kts
  services/series/driving/web-mvc/build.gradle.kts
  services/series/driving/web-mvc/src/main/java/nettee/series/driving/web/SeriesCommandApi.java
  services/series/driving/web-mvc/src/main/java/nettee/series/driving/web/SeriesQueryApi.java
  services/series/driving/web-mvc/src/main/java/nettee/series/driving/web/dto/SeriesCommandDto.java
  services/series/driving/web-mvc/src/main/java/nettee/series/driving/web/dto/SeriesQueryDto.java
  services/series/series.settings.gradle.kts
  settings.gradle.kts
Labels: 🔥 ASAP

#26 Blog > API, API Docs: Blog 관련 API 모듈들 및 API 문서를 작성했습니다.
  gradle.properties
  monolith/main-runner/build.gradle.kts
  services/blog/api/build.gradle.kts
  services/blog/api/domain/src/main/java/nettee/blolet/blog/domain/Blog.java
  services/blog/api/exception/src/main/java/nettee/blolet/blog/exception/BlogErrorCode.java
  services/blog/api/exception/src/main/java/nettee/blolet/blog/exception/BlogException.java
  services/blog/api/readmodel/src/main/java/nettee/blolet/blog/readmodel/BlogReadModels.java
  services/blog/application/build.gradle.kts
  services/blog/blog.settings.gradle.kts
  services/blog/build.gradle.kts
  services/blog/driving/web-mvc/build.gradle.kts
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/BlogCommandApi.java
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/BlogQueryApi.java
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/dto/BlogCommandDto.java
  services/blog/driving/web-mvc/src/main/java/nettee/blolet/blog/web/dto/BlogQueryDto.java
  settings.gradle.kts
Labels: type: docs, type: feature, in: blog

#35 🐞 Monolith: 빌드 시 Main Runner의 JAR 파일이 생성되지 않습니다.
  monolith/main-runner/build.gradle.kts
  monolith/main-runner/src/test/java/nettee/main/MainApplicationTests.java
Labels: type: bug, 🔥 ASAP

#39 Blog > API: 도메인 모델에 기초 함수, 롬복 애노테이션 등을 추가하고, 일부 Forbidden 에러코드를 추가했습니다.
  services/blog/api/domain/src/main/java/nettee/blolet/blog/domain/Blog.java
  services/blog/api/exception/src/main/java/nettee/blolet/blog/exception/BlogErrorCode.java
Labels: type: feature, 🔥 ASAP, in: blog

#45 ☀️ Series > Domain 수정 및 Application 모듈 개발
  services/series/api/domain/src/main/java/nettee/series/article/domain/SeriesArticle.java
  services/series/api/domain/src/main/java/nettee/series/domain/Series.java
  services/series/api/exception/src/main/java/nettee/series/article/exception/SeriesArticleErrorCode.java
  services/series/api/readmodel/src/main/java/nettee/series/article/readmodel/SeriesArticleQueryModels.java
  services/series/api/readmodel/src/main/java/nettee/series/readmodel/SeriesQueryModels.java
  services/series/application/build.gradle.kts
  services/series/application/src/main/java/nettee/series/application/port/SeriesCommandRepositoryPort.java
  services/series/application/src/main/java/nettee/series/application/port/SeriesQueryRepositoryPort.java
  services/series/application/src/main/java/nettee/series/application/services/SeriesCommandService.java
  services/series/application/src/main/java/nettee/series/application/services/SeriesQueryService.java
  services/series/application/src/main/java/nettee/series/application/usecase/SeriesCreateUseCase.java
  services/series/application/src/main/java/nettee/series/application/usecase/SeriesDeleteUseCase.java
  services/series/application/src/main/java/nettee/series/application/usecase/SeriesReadUseCase.java
  services/series/application/src/main/java/nettee/series/application/usecase/SeriesUpdateUseCase.java
  services/series/application/src/main/java/nettee/series/article/application/port/SeriesArticleCommandRepositoryPort.java
  services/series/application/src/main/java/nettee/series/article/application/port/SeriesArticleQueryRepositoryPort.java
  services/series/application/src/main/java/nettee/series/article/application/service/SeriesArticleCommandService.java
  services/series/application/src/main/java/nettee/series/article/application/service/SeriesArticleQueryService.java
  services/series/application/src/main/java/nettee/series/article/application/usecase/SeriesArticleCreateUseCase.java
  services/series/application/src/main/java/nettee/series/article/application/usecase/SeriesArticleDeleteUseCase.java
  services/series/application/src/main/java/nettee/series/article/application/usecase/SeriesArticleReadUseCase.java
  services/series/application/src/main/java/nettee/series/article/application/usecase/SeriesArticleUpdateUseCase.java
  services/series/series.settings.gradle.kts
Labels: type: feature, type: refactor, 🔥 ASAP, in: series

#46 Blog > Application: Create 포트, 서비스 및 여러 Use Case 추가
  services/blog/api/domain/src/main/java/nettee/blolet/blog/domain/Blog.java
  services/blog/api/exception/src/main/java/nettee/blolet/blog/exception/BlogErrorCode.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/port/BlogCommandRepositoryPort.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/service/BlogCommandService.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/usecase/BlogCreateUseCase.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/usecase/BlogDeleteUseCase.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/usecase/BlogReadUseCase.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/usecase/BlogUpdateUseCase.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/usecase/newsletter/BlogNewsletterSubscriptionUseCase.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/usecase/newsletter/BlogNewsletterUnsubscriptionUseCase.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/usecase/subscription/BlogSubscriptionUseCase.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/usecase/subscription/BlogUnsubscriptionUseCase.java
  services/blog/application/src/test/kotlin/nettee/blolet/blog/application/service/BlogCommandServiceTest.kt
Labels: type: feature, in: blog

#52 Series > web-mvc > DTO <-> Domain Mapper 개발
  services/series/driving/web-mvc/build.gradle.kts
  services/series/driving/web-mvc/src/main/java/nettee/series/article/driving/web/dto/SeriesArticleCommandDto.java
  services/series/driving/web-mvc/src/main/java/nettee/series/article/driving/web/mapper/SeriesArticleDtoMapper.java
  services/series/driving/web-mvc/src/main/java/nettee/series/driving/web/dto/SeriesCommandDto.java
  services/series/driving/web-mvc/src/main/java/nettee/series/driving/web/dto/SeriesQueryDto.java
  services/series/driving/web-mvc/src/main/java/nettee/series/driving/web/mapper/SeriesDtoMapper.java
Labels: in: series

#61 Blog > Application: 블로그 삭제 repository port, use case, service
  services/blog/application/src/main/java/nettee/blolet/blog/application/port/BlogCommandRepositoryPort.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/service/BlogCommandService.java
  services/blog/application/src/test/kotlin/nettee/blolet/blog/application/service/BlogCommandServiceTest.kt
Labels: type: feature, in: blog

#62 Blog > Application: 블로그 수정 repository port, use case, service
  services/blog/api/exception/src/main/java/nettee/blolet/blog/exception/BlogErrorCode.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/port/BlogCommandRepositoryPort.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/service/BlogCommandService.java
  services/blog/application/src/test/kotlin/nettee/blolet/blog/application/service/BlogCommandServiceTest.kt
Labels: type: feature, in: blog

#66 Blog > Domain, API: 구독 도메인 모델 및 에러 코드
  services/blog/api/domain/src/main/java/nettee/blolet/blog/domain/BlogSubscription.java
  services/blog/api/exception/src/main/java/nettee/blolet/blog/exception/BlogErrorCode.java
Labels: type: feature, in: blog

#70 Draft > Application, rdb : 드래프트, 블록 생성
  monolith/main-runner/src/main/resources/db/migration/v1/V1_0_32__alter_tb_block.sql
  services/draft/api/domain/src/main/java/nettee/draft/draftblock/domain/DraftBlock.java
  services/draft/driven/rdb/src/main/java/nettee/draft/draftblock/driven/rdb/DraftBlockQueryAdapter.java
  services/draft/driven/rdb/src/main/java/nettee/draft/draftblock/driven/rdb/entity/DraftBlockEntity.java
  services/draft/driven/rdb/src/main/java/nettee/draft/driven/rdb/DraftQueryAdapter.java
  services/draft/driven/rdb/src/main/java/nettee/draft/driven/rdb/entity/DraftEntity.java
  services/draft/driving/web-mvc/src/main/java/nettee/draft/draftblock/driving/web/DraftBlockCommandApi.java
  services/draft/driving/web-mvc/src/main/java/nettee/draft/driving/web/DraftCommandApi.java
Labels: type: feature, in: article

#87 Series > rdb > SeriesEntity, SeriesArticleEntity 개발
  services/series/api/readmodel/src/main/java/nettee/series/readmodel/SeriesQueryModels.java
  services/series/build.gradle.kts
  services/series/driven/rdb/build.gradle.kts
  services/series/driven/rdb/src/main/java/nettee/series/article/driven/rdb/entity/SeriesArticleEntity.java
  services/series/driven/rdb/src/main/java/nettee/series/driven/rdb/entity/SeriesEntity.java
  services/series/series.settings.gradle.kts
Labels: type: feature, in: series

#88 Series > rdb > Entity <-> Domain Mapper 개발
  services/series/driven/rdb/src/main/java/nettee/series/article/driven/rdb/persistence/SeriesArticleJpaRepository.java
  services/series/driven/rdb/src/main/java/nettee/series/article/driven/rdb/persistence/mapper/SeriesArticleEntityMapper.java
  services/series/driven/rdb/src/main/java/nettee/series/driven/rdb/persistence/SeriesJpaRepository.java
  services/series/driven/rdb/src/main/java/nettee/series/driven/rdb/persistence/mapper/SeriesEntityMapper.java
Labels: type: feature, 🔥 ASAP, in: series

#75 Monolith: 로컬 CORS 허용
  core/cors/nettee-cors-api/src/main/java/nettee/properties/CorsProperties.java
  monolith/main-runner/src/main/resources/properties/web/main.cors.yml
Labels: type: feature, type: refactor, in: common

#89 Series > rdb > CommandAdapter 개발
  services/series/application/src/main/java/nettee/series/article/application/port/SeriesArticleCommandRepositoryPort.java
  services/series/application/src/main/java/nettee/series/article/application/service/SeriesArticleCommandService.java
  services/series/driven/rdb/src/main/java/nettee/series/article/driven/rdb/persistence/SeriesArticleCommandAdapter.java
  services/series/driven/rdb/src/main/java/nettee/series/article/driven/rdb/persistence/SeriesArticleJpaRepository.java
  services/series/driven/rdb/src/main/java/nettee/series/driven/rdb/persistence/SeriesCommandAdapter.java
  services/series/driven/rdb/src/test/java/nettee/series/SeriesRdbTestApplication.java
  services/series/driven/rdb/src/test/kotlin/nettee/series/article/driven/rdb/persistence/SeriesArticleCommandAdapterTest.kt
  services/series/driven/rdb/src/test/kotlin/nettee/series/driven/rdb/jpa/JpaTransactionalFreeSpec.kt
  services/series/driven/rdb/src/test/kotlin/nettee/series/driven/rdb/persistence/SeriesCommandAdapterTest.kt
  services/series/driven/rdb/src/test/resources/application.yml
Labels: type: feature, 🔥 ASAP, in: series

#74 Blog > Application: 블로그 구독 Repository Port, Use Case, Service
  services/blog/application/src/main/java/nettee/blolet/blog/application/port/BlogSubscriptionCommandRepositoryPort.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/service/BlogSubscriptionCommandService.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/usecase/subscription/BlogSubscriptionUseCase.java
  services/blog/application/src/main/java/nettee/blolet/blog/application/usecase/subscription/data/SubscriptionStats.java
  services/blog/application/src/test/kotlin/nettee/blolet/blog/application/service/BlogSubscriptionCommandServiceTest.kt
Labels: type: feature, review: required, in: blog

#96 CORE > jpa-core: JPAQueryFactory 빈 등록
  core/jpa-core/src/main/java/nettee/jpa/config/QueryDslConfig.java
Labels: type: feature

#115 Article: 아티클 수정 API 구현
  services/article/api/domain/src/main/java/nettee/article/domain/Article.java
  services/article/application/src/main/java/nettee/article/port/ArticleCommandPort.java
  services/article/application/src/main/java/nettee/article/service/ArticleCommandService.java
  services/article/application/src/main/java/nettee/article/usecase/ArticleUpdateUseCase.java
  services/article/driven/rdb/src/main/java/nettee/article/driven/rdb/entity/ArticleEntity.java
  services/article/driven/rdb/src/main/java/nettee/article/driven/rdb/persistence/ArticleCommandAdapter.java
  services/article/driving/web-mvc/src/main/java/nettee/article/driving/web/ArticleCommandApi.java
  services/article/driving/web-mvc/src/main/java/nettee/article/driving/web/ArticleDtoMapper.java
Labels: type: feature, in: article
